.postDestaque {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 2.8rem;
    width: 80vw;
}


.imgPrincipal {
    width: 42vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 6px;
    
}



.postDate{
    margin: 0;
    font-size: .8rem;
}

.postDescription {
    margin-top: 15px;
    color: var(--bs-gray-700);
    margin: 0;

    
}

.avFazag {
    width: 70px;
    
    margin-right: 15px;
}

.author{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    p {
        margin: 0px 15px 0px 0px;
    }
}

.author p:nth-child(3) {
    font-size: .7rem;
}