.dialogOverlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    inset: 0;

  }
.dialogContent {
    position: fixed;
    z-index: 2;
    background-color: white;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 90vw;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    padding: 25px;
    animation: modal .7s ease forwards;
  }

  @keyframes modal{
    from {
      transform: translate(-50%, -50%) scale(0);
    }
    to {
      transform: translate(-50%, -50%) scale(1);
    }
  }