
.footerContainer {
    display: flex;
    flex-direction: column;

    background-color: var(--bs-gray-900);
    width: 100%;
    


    color: var(--bs-gray-200);
    margin-top: 5rem;

    .footerHeader {
        display: flex;
        padding: 2rem;
        justify-content: space-between;
        span {
            font-weight: 600;
        }
        .divFooterBlock {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 1rem;
            .divFooterButton {
                display: flex;
                flex-direction: column;
                gap: .8rem;
                span {
                    font-size: .9rem;
                    font-weight: 400;
                }
                a {
                    width: 73%;
                }
            }
        }
        .divFooter {
            display: flex;
            flex: 1;
            flex-direction: column;
            a {
                font-size: .9rem;
                color: var(--bs-gray-600);
                &:hover {
                    color: white;
                }
            }
        }
        .divFooterSocial {
            display: flex;
            flex-direction: column;
            gap: .8rem;
           
            .iconContainer {
                display: flex;
                gap: .4rem;
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 40px;
                    background-color: red;
                    border-radius: 4px;
                }
            }
        }
    }
    .lowFooter{
        padding: 1rem;
        .divLowFooter {
            display: flex;
            gap: 1rem;
            align-items: center;
            color: var(--bs-gray-500);
            font-size: .9rem;
        }
    }
}

 /* Footer */

 @media(max-width: 977px) {
    .footerHeader {
        flex-wrap: wrap;
    }
    .divFooter {
        flex: 1
    }
 }

 @media(max-width: 768px) {

  .footerHeader {
    display: flex;
    flex-direction: column;
  }
  .divFooterSocial {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .divFooter {
    margin-top: 1rem;
  }
  .divFooterButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 }