.loadingDiv{
    position: fixed;
    background: rgba(0,0,0,0.2);
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.spinner {
    height: 3rem;
    width: 3rem;
}

.containerInDiv{
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    .loadingInDiv{
        flex: 1;
    }
}