.botoesBox {
    width: 44%;
    img {
        width: 100%;
        transition: filter .3s;
    }
    h2 {
        font-size: 1.4rem;
        font-weight: 700;
    
    }
    &:hover > img{
        filter:grayscale(90);
        }
}

.pBox {
max-width: 20rem;
text-shadow: 2px 2px 4px black;
color: white;
}

@media(max-width: 769px){
  .pBox {
    max-width: 12rem;
  }
}
