.container {
    max-width: 1140px;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin: .5rem;
    }

    .headingOne {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    .headingTwo {
        margin-top: 1.5rem;
        font-size: 1.6rem;
        
   
    }
    .headingTree {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .paragraph {
        text-align: justify;
    }

}