.container {
    max-width: 1140px;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin: .5rem;
    }

    h3 {
        margin-top: 1rem;
        font-size: 1.2rem;
    }
    .paragrafo {
        text-align: justify;
    }
    .infoCourse {
        margin-top: 1.5rem;
    }

}