
.fazaginforma {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.postListContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    gap: 3rem;
}

@media(max-width: 600px){
    .postListContainer{
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    padding: 1rem;
}

.hr {
    width: 30%;
    justify-items: center;
}

