* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-900: #121214;
  --gray-500: #37373d;

  --blue-500: #0a58ca;
}

/* FAZAG Informa */
@media (max-width: 780px) {


  .postDestaque {
      flex-direction: column;
  }
  .author {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
  .postDescription{
      text-align: justify;
  }

  
}

a {
  text-decoration: none;
  color: var(--gray-900);
  transition: color .2s;
  &:hover {
    color: var(--gray-500);
  }
}


 