
.postContainer {

    max-width: 820px;

    .title {
        text-align: center;
        margin: 5rem 0 5rem;
    }

    .paragraph, h3 {
        margin-top: 2rem;
        text-align: justify;
    }
}

@media(max-width: 930px){
    .postContainer {
        padding: 0 5rem 0 5rem;
    }
}

@media(max-width: 500px){
    .postContainer {
        padding: 0 3rem 0 3rem;
    }
}

