
.container {
    margin-top: 1rem;
    width: 100%;

    background-color: '#121212';
    text-align: center;
}

.publicacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnPrimary {
    width: 300px;
}

.cardBody {
    width: 300px;
    margin-bottom: 1rem;
}

.publicationItem {
    align-items: center;
    justify-content: center;
    &:hover {
        p {
            transition: .2s;
            color: red;
        }
    }
}
.linksContainer {
    display: 'flex';
    flex-direction: 'column';
    gap: 4rem;
}

@media (max-width: 300px){
    .btnPrimary {
        width: 250px;
    }
    
    .cardBody {
        width: 250px;
        margin-bottom: 1rem;
    }
}